html
    head
        title Example Item 1
        include libraries
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css")
    body
        include header
        div(class="container")
            div(style="position: relative; height:75%;")
                canvas(id="myChart", width="200", height="200")
        script. 
            var xLabels = [#{xAxis}];
            var yLabels = [#{yAxis}];
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: xLabels,
                    datasets: [{
                        label: 'Price',
                        fill: false,
                        borderColor: "#bae755",
                        data: yLabels,
                        pointStyle: 'circle',
                        radius: 0,
                        borderWidth: 1
                    }]
                },
                options: {
                    tooltips: {
                        callbacks: {
                            title: function() {}
                        }
                    },
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                        }],
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: false
                            }
                        }]
                    }
                }
            });
